.header {
    background: #ffffff;
    height: 9%;
    margin: 0;
    width: 100%;
    text-align: center;
    color:#ffffff;
    border-bottom: 3px solid #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}
header h1 {
    line-height: 60px;
    font-size: 50px;
    color: white;
    background: #4aaaa5;
    margin-left: -15%;
    display:inline;
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 20%;
    list-style: none;
    float: right;
    display: inline;
    color: #dddddd;
}
.nav {
    margin-right: 100px;
    margin-top: 30px;
}
.profilepic {
    float: left; 
    margin: 15px 15px 15px 0px;
}
body {
    background: rgb(214, 214, 214); 
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
ul {
    display: inline;
    
}
li {
    display: inline-block;
    text-decoration: none;
    width: 31%;
}

h2 {
    color: #4aaaa5;
    margin: 0;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 2%;
}

a{
    text-decoration: none;
    margin-right: auto;     
}
.main {
    width: 40%;
    margin: 0;
}

.content {
    background: white;
    color: #777777;
    border-top: 3px solid #cccccc;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 16.2%;
}
.content-with-images {
    background: white;
    color: #777777;
    border-top: 3px solid #cccccc;
    width: 50%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    margin-bottom: 16.2%;
    height: 750px;
}
.pbox {
    width:240px;
    height:200px;
    margin:10px;
    border:2px solid black;
    float:left;
    position: relative;
}
.ptitle {
    color: white;
    background: #4aaaa5;
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    position: absolute;
    bottom: 20px;
    width: 240px;
}

.hangman {
    background-image: url("../images/rock.png");
    background-size: cover;
}
.rpg-game {
    background-image: url("../images/mario.jpeg");
    background-size: cover;
}
.trivia-game {
    background-image: url("../images/3headphones.jpg");
    background-size: cover;
}
.rutgers {
    background-image: url("../images/4cellphone.jpg");
    background-size: cover;
}
.rock {
    background-image: url("../images/5tv.jpg");
    background-size: cover;
}
.button {
  background-color: #4aaaa5;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.textbox {
    height:200px; 
    width:300px;
}
.footer {
    background: #666666;
    height: 40px;
    width: 100%;
    text-align: center;
    color:#ffffff;
    border-top: 8px solid #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 12px;
    position: fixed;
    bottom: 0;
}
@media screen and (max-width: 980px) {

}
@media screen and (max-width: 768px) {
    img {
        position: fixed;
    }
    .content-with-images {
        height: 575px;
    }
    .pbox {
        width:160px;
        height:150px;
        margin:10px;
        border:2px solid black;
        float:left;
        position: relative;
        }
    .ptitle {
        color: white;
        background: #4aaaa5;
        text-align: center;
        font-size: 13px;
        padding: 10px 0;
        position: absolute;
        bottom: 20px;
        width: 160px;
        }
    .biocontent {
        margin-left: 40%;
        font-size: 18px;

    }
}
@media screen and (max-width: 640px) {
    header h1 {
        margin-left: 0;
        position: static;
        position: static;
        padding: 0 30px;
    }
    .nav {
        margin-right: 125px;
        margin-top: 15px;
    }
    .biocontainer {
        width: 80%;
    }
    .profilepic {
        height:100px;
        width:100px;
        margin: 10px 30px 20px 70px;
    }
    .biocontent {
        font-size: 11px;
        margin-left: 0px;
        margin-top: 125px;
        text-align: left;
    }
    .biocontent2 {
        font-size: 11px;
    }
    .content-with-images {
        height: 900px;

    }
    .textbox {
        width: 200px;
    }
}

